<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
</head>
<body>
<main class="flex-shrink-0">
    <section class="py-5" layout:fragment="body">
        <div class="container">
            <form method="post" role="form" th:action="@{/livros/new}" th:object="${livro}">
                <div class="mb-3">
                    <label class="form-label" for="titulo">Titulo</label>
                    <input
                            class="form-control"
                            id="titulo"
                            placeholder="Título do livro"
                            th:field="*{titulo}"
                            type="text"
                    >

                </div>
                <div class="mb-3">
                    <label class="form-label" for="autor">Autor</label>
                    <input
                            class="form-control"
                            id="autor"
                            placeholder="Autor do livro"
                            th:field="*{autor}"
                            type="text"
                    >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="editora">Editora</label>
                    <input
                            class="form-control"
                            id="editora"
                            placeholder="Editora do livro"
                            th:field="*{editora}"
                            type="text"
                    >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="imageUrl">Capa URL</label>
                    <input
                            class="form-control"
                            id="imageUrl"
                            placeholder="URL da capa do livro"
                            th:field="*{imageUrl}"
                            type="url"
                    >
                </div>
                <div class="form-group">
                    <label for="tipoLivro">Tipo do Livro</label>
                    <select
                            class="form-control"
                            id="tipoLivro"
                            th:field="*{tipo}"
                    >
                        <option value="FISICO">Físico</option>
                        <option VALUE="DIGITAL">Digital</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea
                            class="form-control"
                            id="descricao"
                            placeholder="Descrição do livro"
                            rows="3"
                            th:field="*{descricao}"
                    ></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="qtdExemplares">Quantidade de Exemplares</label>
                    <input
                            class="form-control"
                            id="qtdExemplares"
                            placeholder="Quantidade de Exemplares"
                            th:field="*{qtdExemplares}"
                            type="number"
                    >
                </div>
                <button class="btn btn-primary" type="submit">Criar</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>
